<div class="row">
  <div class="col-md-12">
    <form [formGroup]="appForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-12">
          <button [disabled]="!appForm.valid" type="submit" class="btn btn-success">Guardar</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancelar</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="name">name</label>
            <input type="text" id="name" class="form-control" formControlName="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="path">Ubicación de las Fuentes</label>
            <input #path type="text" id="path" class="form-control" formControlName="path">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" formArrayName="flows">
          <div class="row" style="margin-top: 10px" *ngFor="let flowCtrl of appForm.get('flows').controls; let i = index" [formGroupName]="i">
            <hr class="col-md-12">
            <div class="col-md-8">
              <label for="name">Nombre del Flujo</label>
              <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="col-md-8">
              <label for="name">Entrada al flujo</label>
              <input type="text" class="form-control" formControlName="input">
            </div>
            <div class="col-md-8">
              <label for="name">Tópico de entrada</label>
              <input type="text" class="form-control" formControlName="inputTopic">
            </div>
            <div class="col-md-8">
              <label for="name">Salida del flujo</label>
              <input type="text" class="form-control" formControlName="output">
            </div>
            <div class="col-md-8">
              <label for="name">Tópico de salida </label>
              <input type="text" class="form-control" formControlName="outputTopic">
            </div>
            <div class="col-md-8">
              <label for="name">Tiene trazas:</label>
              <input type="checkbox" class="form-control" formControlName="traces">
            </div>
            <div class="col-md-8">
              <label for="name">Descripción</label>
              <input type="text" class="form-control" formControlName="description">
            </div>
            <div class="col-md-8">
              <button type="button" (click)="onDeleteFlow(i)" class="btn btn-danger">Cancelar</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-12">
              <button type="button" class="btn btn-success" (click)="onAddFlow()">Add Flow</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!--'name': new FormControl(flow.name, Validators.required),-->
<!--'input': new FormControl(flow.input),-->
<!--'inputTopic': new FormControl(flow.inputTopic),-->
<!--'output': new FormControl(flow.output),-->
<!--'outputTopic': new FormControl(flow.outputTopic),-->
<!--'traces': new FormControl(flow.traces),-->
<!--'description': new FormControl(flow.description)-->
